:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

      .card {
    margin: 4rem;  /* Margin for spacing on all sides */
    // text-align: center;  /* Center the content within the card */
     border: 1px solid #ddd;
  }
  .p-table {
    /* Optional: Adjust table width if needed */
    width: 80%;  /* Example: Set a maximum width for the table */
    margin: 0 auto;  /* Center the table within the card body */
  }
}
