.expense-record {
  margin: 0 auto;
  width: 80%; /* Adjust width for responsiveness */
}

.form-group {
  display: flex;
  margin-bottom: 20px;
}
.form-group label {
  width: 120px;
  margin-right: 10px;
}

p-calendar {

  padding: 0;
}

button {
  margin-top: 10px;
}
