<div class="expense-record">
  <h3>Expense Record</h3>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="type">Expense Type:</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="fas fa-pencil"></i>
        </p-inputGroupAddon>
        <select class="form-control" formControlName="type" required>
          <option value="" disabled selected>Select Expense Type</option>
          <option value="INCOME">INCOME</option>
          <option value="EXPENSE">EXPENSE</option>
        </select>
      </p-inputGroup>
    </div>

    <div class="form-group">
      <label for="amount">Amount:</label>
      <p-inputGroup>
        <p-inputGroupAddon>$</p-inputGroupAddon>
        <input type="number" pInputText placeholder="Amount" formControlName="amount" required />
        <p-inputGroupAddon>.00</p-inputGroupAddon>
      </p-inputGroup>
    </div>

    <div class="form-group">
      <label for="date">Date:</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="fas fa-calendar"></i> </p-inputGroupAddon>
        <p-calendar id="date" formControlName="date" dateFormat="dd/MM/yy" pInputText ></p-calendar>
      </p-inputGroup>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="fas fa-align-justify"></i> </p-inputGroupAddon>
        <textarea type="text" pInputText placeholder="Description" formControlName="description"></textarea>
      </p-inputGroup>
    </div>

    <button type="submit" pButton label="Submit" [disabled]="!expenseForm.valid"></button>
  </form>
</div>
<p-toast></p-toast>
